<div class="container">
<h1>Test Document</h1>

<div class="panel panel-warning">

<div class="panel-heading">
    <h3 class="panel-title">Query</h3>
  </div>
<div class="panel-body">
<textarea ng-model="inputquery"></textarea><br />

<button style="margin-top :10px;" class="btn btn-info" type="submit" ng-click="callQuery()">Query</button>

<button style="margin-top :10px;" class="btn btn-info" type="submit" ng-click="callQuery2()">Query2</button>

</div>

</div>

<div class="well">
<pre>
{{testResponse}}
</pre>
</div>

<div class="well">
<pre>
{{inputquery}}
</pre>
</div>

<div class="well">
<pre>
{{namequery}}
</pre>
</div>


</div>